---
import { AppConfig } from '@/utils/AppConfig';
import Base from '@/layouts/Base.astro';
import Section from '@/components/Section.astro';
import Card from '@/components/Card.astro';
import Heading from '@/components/Heading.astro';
import { getAllPosts } from '@/utils/posts';

const { title } = AppConfig;
const { description } = AppConfig;

const allPosts = await getAllPosts();
---

<Base head={{ title, description }}>
	<Section>
		<Heading title="All Posts" />
	</Section>
	<Section>
		<div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
			{
				allPosts.map((post: any) => (
					<Card post={post} />
				))
			}
		</div>
	</Section>
</Base>
